@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-image: url('https://assets.ccbp.in/frontend/dynamic-webapps/time-converter-bg.png');
    height: 100vh;
    padding: 20px;
    padding-left: 40px;
    padding-top: 60px;
}

.heading {
    color: #f5f7fa;
    font-size: 70px;
    font-family: "Open Sans";
    font-weight: 600;
}

.instruction {
    color: #f5f7fa;
    font-size: 22px;
    font-family: "Open Sans";
    font-weight: 600;
}

.label {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 500;
}

.input-box {
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 8px;
    padding-left: 12px;
    font-size: 22px;
    font-weight: 600;

}

.convert-button {
    background-color: #f5f7fa;
    color: #000000;
    padding: 10px;
    font-family: "Open Sans";
    font-size: 20px;
    border-radius: 8px;
    font-weight: 500;
}

.time-in-seconds {
    color: #ffffff;
    border-color: #ffffff;
    font-family: "Open Sans";
    border: 2px solid;
    border-radius: 10px;
    margin-top: 40px;
    padding: 15px;
    font-size: 25px;
    text-align: center;
    width: 250px;
}

.error-msg {
    color: #ffffff;
    margin-top: 20px;
    font-family: "Open Sans";
}